<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Minecraft Assistant</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="heading">AI Minecraft Assistant</div>
        <div class="square">
            <div class="title">Question</div>
            <div id="question" class="body"></div>
            <div class="title">Response</div>
            <div id="response" class="body"></div>
        </div>
    </div>

    <script>
        // Use AJAX to update question and response continuously
        function updateQuestion() {
            $.ajax({
                url: '/update-question',
                type: 'POST',
                success: function(data) {
                    if (data.question != '' && data.question) {
                        $('#question').text(data.question);
                        $('#response').text("I'm thinking really hard, hold on");
                        updateResponse(data.question); // Update response after updating question
                    } else {
                        // If data is null or undefined, retry after 1 second
                        setTimeout(updateQuestion, 1000);
                    }
                },
                error: function() {
                    // Handle error, retry after 1 second
                    setTimeout(updateQuestion, 1000);
                }
            });
        }


        function updateResponse(question) {
            $.ajax({
                url: '/update-response',
                type: 'POST',
                data: JSON.stringify({'question': question}),
                contentType: 'application/json',
                success: function(data) {
                    if (data.response != '' && data.response) {
                    $('#response').text(data.response);
                    setTimeout(updateQuestion, 1000); // Update question again after updating response
                    } else {
                        setTimeout(updateResponse, 1000, question); // Retry every 1 second if no response yet
                    }
                },
                error: function() {
                    setTimeout(updateResponse, 1000, question); // Retry every 1 second if no response yet
                }
            });
        }

        $(document).ready(function(){
            updateQuestion();
        });
    </script>
</body>
</html>
